// single-line-texts
.editor.single-line-text[contenteditable="true"]:focus {
  outline: 0 solid transparent;
  box-shadow: 0 0 0 2px rgba(0,123,255,.25);
  border-radius: 2px;
}
.editor.single-line-text[contenteditable="true"] {
  padding: 6px;
  height: 22px;
  box-shadow: 0 0 0 2px rgba(0,123,255,.05);
  border-radius: 5px;
}
.editor.single-line-text[contenteditable="true"], .editor.single-line-number[contenteditable="true"] {
  white-space: nowrap;
  overflow: hidden;
  br {
    display:none;
  }
  * {
    display:inline;
    white-space:nowrap;
  }
}

// checkboxes
.editor.checkbox {
  cursor: pointer;
  width: 30px;
  height: 30px;
  background: #fff;
  border: 2px solid;
  border-radius: 5px;
  font-size: 24px;
  text-align: center;
}
.editor.checkbox[data-value="true"]::before {
  content: "✔";
}
.editor.checkbox[data-value="true"] {
  color:#090;
  border-color: #090;
}
.editor.checkbox[data-value="false"] {
  border-color: #666;
}
.editor.checkbox:hover {
  color:#696;
  border-color: #696;
}
